Objectives of the Case Study
Primarily, this case study is meant as a deep dive into the usage of Spark. As you saw while working with Spark, its syntax behaves differently from a regular Python syntax. One of the major objectives of this case study is to gain familiarity with how analysis works in PySpark as opposed to base Python.

Learning the basic idea behind using functions in PySpark can help in using other libraries like SparkR. If you are in a company where R is a primary language, you can easily pick up SparkR syntax and use Spark’s processing power.

The process of running a model-building command boils down to a few lines of code. While drawing inferences from data, the most time-consuming step is preparing the data up to the point of model building. So, this case study will focus more on exploratory analysis.

Problem Statement
Big data analytics allows you to analyse data at scale. It has applications in almost every industry in the world. Let’s consider an unconventional application that you wouldn’t ordinarily encounter.

 

New York City is a thriving metropolis. Just like most other metros its size, one of the biggest problems its citizens face is parking. The classic combination of a huge number of cars and cramped geography leads to a huge number of parking tickets.

 

In an attempt to scientifically analyse this phenomenon, the NYC Police Department has collected data for parking tickets. Of these, the data files for multiple years are publicly available on Kaggle. We will try and perform some exploratory analysis on a part of this data. Spark will allow us to analyse the full files at high speeds as opposed to taking a series of random samples that will approximate the population. For the scope of this analysis, we will analyse the parking tickets over the year 2017. 

 

Note: Although the broad goal of any analysis of this type is to have better parking and fewer tickets, we are not looking for recommendations on how to reduce the number of parking tickets—there are no specific points reserved for this.

 

The purpose of this case study is to conduct an exploratory data analysis that will help you understand the data. Since the size of the dataset is large, your queries will take some time to run, and you will need to identify the correct queries quicker. The questions given below will guide your analysis.

 

The dataset structure is available on this page along with the data.

https://www.kaggle.com/new-york-city/nyc-parking-tickets/data

General Guidelines:
The queries may take time to get executed. Please have some patience. If you are getting errors with correct queries, restart the PySpark session and try again, as the session may have expired.
Keep a copy of the commands on your local drive or S3 so that you do not lose any work in case of session expiry or you need to close the EMR instance for the timebeing. 
If you want to run SQL commands, create an SQL view first. Also, if you make any changes in the table (like substitution or dropping null values), please ensure that you update the SQL view related to that table for further analysis.
Remember to stop Spark whenever you finish working on the cluster. Use spark.stop().

# Questions to Be Answered in the Analysis
The following analysis should be performed on PySpark mounted on your EMR notebook instance, using the PySpark library. Remember that you need to summarise the analysis with your insights along with the code.

 

## Examine the data

- Find the total number of tickets for the year.
- Find out the number of unique states from where the cars that got parking tickets came. (Hint: Use the column 'Registration State'.)
    There is a numeric entry '99' in the column, which should be corrected. Replace it with the state having the maximum entries. Provide the number of unique states again.
 

### Aggregation tasks

- How often does each violation code occur? Display the frequency of the top five violation codes.
- How often does each 'vehicle body type' get a parking ticket? How about the 'vehicle make'? (Hint: Find the top 5 for both.)
- A precinct is a police station that has a certain zone of the city under its command. Find the (5 highest) frequencies of tickets for each of the following:
    - 'Violation Precinct' (This is the precinct of the zone where the violation occurred). Using this, can you draw any insights for parking violations in any specific areas of the city?
    - 'Issuer Precinct' (This is the precinct that issued the ticket.) Here, you would have noticed that the dataframe has the 'Violating Precinct' or 'Issuing Precinct' as '0'. These are erroneous entries. Hence, you need to provide the records for five correct precincts. (Hint: Print the top six entries after sorting.)
- Find the violation code frequencies for three precincts that have issued the most number of tickets. Do these precinct zones have an exceptionally high frequency of certain violation codes? Are these codes common across precincts? 
    (Hint: In the SQL view, use the 'where' attribute to filter among three precincts.)
- Find out the properties of parking violations across different times of the day:
    - Find a way to deal with missing values, if any.
        (Hint: Check for the null values using 'isNull' under the SQL. Also, to remove the null values, check the 'dropna' command in the API documentation.)

    - The Violation Time field is specified in a strange format. Find a way to make this a time attribute that you can use to divide into groups.

    - Divide 24 hours into six equal discrete bins of time. Choose the intervals as you see fit. For each of these groups, find the three most commonly occurring violations.
        (Hint: Use the CASE-WHEN in SQL view to segregate into bins. To find the most commonly occurring violations, you can use an approach similar to the one mentioned in the hint for question 4.)

    - Now, try another direction. For the three most commonly occurring violation codes, find the most common time of the day (in terms of the bins from the previous part).

- Let’s try and find some seasonality in this data:

    - First, divide the year into a certain number of seasons, and find the frequencies of tickets for each season. (Hint: Use Issue Date to segregate into seasons.)

    - Then, find the three most common violations for each of these seasons.
        (Hint: You can use an approach similar to the one mentioned in the hint for question 4.)

- The fines collected from all the instances of parking violation constitute a source of revenue for the NYC Police Department. Let’s take an example of estimating this for the three most commonly occurring codes:
    - Find the total occurrences of the three most common violation codes.
    - Then, visit the website:
        http://www1.nyc.gov/site/finance/vehicles/services-violation-codes.page
        It lists the fines associated with different violation codes. They’re divided into two categories: one for the highest-density locations in the city and the other for the rest of the city. For the sake of simplicity, take the average of the two.
    - Using this information, find the total amount collected for the three violation codes with the maximum tickets. State the code that has the highest total collection.
    - What can you intuitively infer from these findings?

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [10]:

spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

In [2]:
spark = SparkSession.builder.appName('NYC EDA').getOrCreate()

In [3]:
df = spark.read.csv("Parking_Violations_2017.csv",inferSchema=True, header=True,sep=',')

In [4]:
df.printSchema()

root
 |-- Summons Number: long (nullable = true)
 |-- Plate ID: string (nullable = true)
 |-- Registration State: string (nullable = true)
 |-- Plate Type: string (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Violation Code: integer (nullable = true)
 |-- Vehicle Body Type: string (nullable = true)
 |-- Vehicle Make: string (nullable = true)
 |-- Issuing Agency: string (nullable = true)
 |-- Street Code1: integer (nullable = true)
 |-- Street Code2: integer (nullable = true)
 |-- Street Code3: integer (nullable = true)
 |-- Vehicle Expiration Date: integer (nullable = true)
 |-- Violation Location: integer (nullable = true)
 |-- Violation Precinct: integer (nullable = true)
 |-- Issuer Precinct: integer (nullable = true)
 |-- Issuer Code: integer (nullable = true)
 |-- Issuer Command: string (nullable = true)
 |-- Issuer Squad: string (nullable = true)
 |-- Violation Time: string (nullable = true)
 |-- Time First Observed: string (nullable = true)
 |-- Violation County: string (nullable = true)
 |-- Violation In Front Of Or Opposite: string (nullable = true)
 |-- House Number: string (nullable = true)
 |-- Street Name: string (nullable = true)
 |-- Intersecting Street: string (nullable = true)
 |-- Date First Observed: integer (nullable = true)
 |-- Law Section: integer (nullable = true)
 |-- Sub Division: string (nullable = true)
 |-- Violation Legal Code: string (nullable = true)
 |-- Days Parking In Effect    : string (nullable = true)
 |-- From Hours In Effect: string (nullable = true)
 |-- To Hours In Effect: string (nullable = true)
 |-- Vehicle Color: string (nullable = true)
 |-- Unregistered Vehicle?: integer (nullable = true)
 |-- Vehicle Year: integer (nullable = true)
 |-- Meter Number: string (nullable = true)
 |-- Feet From Curb: integer (nullable = true)
 |-- Violation Post Code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- No Standing or Stopping Violation: string (nullable = true)
 |-- Hydrant Violation: string (nullable = true)
 |-- Double Parking Violation: string (nullable = true)

In [5]:
df.show(3,False)

+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+----------------------------+---------------------------------+-----------------+------------------------+
|Summons Number|Plate ID|Registration State|Plate Type|Issue Date|Violation Code|Vehicle Body Type|Vehicle Make|Issuing Agency|Street Code1|Street Code2|Street Code3|Vehicle Expiration Date|Violation Location|Violation Precinct|Issuer Precinct|Issuer Code|Issuer Command|Issuer Squad|Violation Time|Time First Observed|Violation County|Violation In Front Of Or Opposite|House Number|Street Name         |Intersecting Street|Date First Observed|Law Section|Sub Division|Violation Legal Code|Days Parking In Effect    |From Hours In Effect|To Hours In Effect|Vehicle Color|Unregistered Vehicle?|Vehicle Year|Meter Number|Feet From Curb|Violation Post Code|Violation Description       |No Standing or Stopping Violation|Hydrant Violation|Double Parking Violation|
+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+----------------------------+---------------------------------+-----------------+------------------------+
|5092469481    |GZH7067 |NY                |PAS       |07/10/2016|7             |SUBN             |TOYOT       |V             |0           |0           |0           |0                      |null              |0                 |0              |0          |null          |null        |0143A         |null               |BX              |null                             |null        |ALLERTON AVE (W/B) @|BARNES AVE         |0                  |1111       |D           |T                   |null                      |null                |null              |GY           |null                 |2001        |null        |0             |null               |FAILURE TO STOP AT RED LIGHT|null                             |null             |null                    |
|5092451658    |GZH7067 |NY                |PAS       |07/08/2016|7             |SUBN             |TOYOT       |V             |0           |0           |0           |0                      |null              |0                 |0              |0          |null          |null        |0400P         |null               |BX              |null                             |null        |ALLERTON AVE (W/B) @|BARNES AVE         |0                  |1111       |D           |T                   |null                      |null                |null              |GY           |null                 |2001        |null        |0             |null               |FAILURE TO STOP AT RED LIGHT|null                             |null             |null                    |
|4006265037    |FZX9232 |NY                |PAS       |08/23/2016|5             |SUBN             |FORD        |V             |0           |0           |0           |0                      |null              |0                 |0              |0          |null          |null        |0233P         |null               |BX              |null                             |null        |SB WEBSTER AVE @ E 1|94TH ST            |0                  |1111       |C           |T                   |null                      |null                |null              |BK           |null                 |2004        |null        |0             |null               |BUS LANE VIOLATION          |null                             |null             |null                    |
+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+----------------------------+---------------------------------+-----------------+------------------------+
only showing top 3 rows

Examine the data
Find the total number of tickets for the year.
Find out the number of unique states from where the cars that got parking tickets came. (Hint: Use the column 'Registration State'.) There is a numeric entry '99' in the column, which should be corrected. Replace it with the state having the maximum entries. Provide the number of unique states again.

In [32]:
date_pattern = 'dd/MM/YYYY'
df2 = df.withColumn('Issue Date',to_timestamp(df['Issue Date'],date_pattern))

In [33]:
df2.printSchema()

root
 |-- Summons Number: long (nullable = true)
 |-- Plate ID: string (nullable = true)
 |-- Registration State: string (nullable = true)
 |-- Plate Type: string (nullable = true)
 |-- Issue Date: timestamp (nullable = true)
 |-- Violation Code: integer (nullable = true)
 |-- Vehicle Body Type: string (nullable = true)
 |-- Vehicle Make: string (nullable = true)
 |-- Issuing Agency: string (nullable = true)
 |-- Street Code1: integer (nullable = true)
 |-- Street Code2: integer (nullable = true)
 |-- Street Code3: integer (nullable = true)
 |-- Vehicle Expiration Date: integer (nullable = true)
 |-- Violation Location: integer (nullable = true)
 |-- Violation Precinct: integer (nullable = true)
 |-- Issuer Precinct: integer (nullable = true)
 |-- Issuer Code: integer (nullable = true)
 |-- Issuer Command: string (nullable = true)
 |-- Issuer Squad: string (nullable = true)
 |-- Violation Time: string (nullable = true)
 |-- Time First Observed: string (nullable = true)
 |-- Violation County: string (nullable = true)
 |-- Violation In Front Of Or Opposite: string (nullable = true)
 |-- House Number: string (nullable = true)
 |-- Street Name: string (nullable = true)
 |-- Intersecting Street: string (nullable = true)
 |-- Date First Observed: integer (nullable = true)
 |-- Law Section: integer (nullable = true)
 |-- Sub Division: string (nullable = true)
 |-- Violation Legal Code: string (nullable = true)
 |-- Days Parking In Effect    : string (nullable = true)
 |-- From Hours In Effect: string (nullable = true)
 |-- To Hours In Effect: string (nullable = true)
 |-- Vehicle Color: string (nullable = true)
 |-- Unregistered Vehicle?: integer (nullable = true)
 |-- Vehicle Year: integer (nullable = true)
 |-- Meter Number: string (nullable = true)
 |-- Feet From Curb: integer (nullable = true)
 |-- Violation Post Code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- No Standing or Stopping Violation: string (nullable = true)
 |-- Hydrant Violation: string (nullable = true)
 |-- Double Parking Violation: string (nullable = true)

In [34]:
df2.show(3,truncate=False)

+--------------+--------+------------------+----------+-------------------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+----------------------------+---------------------------------+-----------------+------------------------+
|Summons Number|Plate ID|Registration State|Plate Type|Issue Date         |Violation Code|Vehicle Body Type|Vehicle Make|Issuing Agency|Street Code1|Street Code2|Street Code3|Vehicle Expiration Date|Violation Location|Violation Precinct|Issuer Precinct|Issuer Code|Issuer Command|Issuer Squad|Violation Time|Time First Observed|Violation County|Violation In Front Of Or Opposite|House Number|Street Name         |Intersecting Street|Date First Observed|Law Section|Sub Division|Violation Legal Code|Days Parking In Effect    |From Hours In Effect|To Hours In Effect|Vehicle Color|Unregistered Vehicle?|Vehicle Year|Meter Number|Feet From Curb|Violation Post Code|Violation Description       |No Standing or Stopping Violation|Hydrant Violation|Double Parking Violation|
+--------------+--------+------------------+----------+-------------------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+----------------------------+---------------------------------+-----------------+------------------------+
|5092469481    |GZH7067 |NY                |PAS       |2015-12-27 00:00:00|7             |SUBN             |TOYOT       |V             |0           |0           |0           |0                      |null              |0                 |0              |0          |null          |null        |0143A         |null               |BX              |null                             |null        |ALLERTON AVE (W/B) @|BARNES AVE         |0                  |1111       |D           |T                   |null                      |null                |null              |GY           |null                 |2001        |null        |0             |null               |FAILURE TO STOP AT RED LIGHT|null                             |null             |null                    |
|5092451658    |GZH7067 |NY                |PAS       |2015-12-27 00:00:00|7             |SUBN             |TOYOT       |V             |0           |0           |0           |0                      |null              |0                 |0              |0          |null          |null        |0400P         |null               |BX              |null                             |null        |ALLERTON AVE (W/B) @|BARNES AVE         |0                  |1111       |D           |T                   |null                      |null                |null              |GY           |null                 |2001        |null        |0             |null               |FAILURE TO STOP AT RED LIGHT|null                             |null             |null                    |
|4006265037    |FZX9232 |NY                |PAS       |2015-12-27 00:00:00|5             |SUBN             |FORD        |V             |0           |0           |0           |0                      |null              |0                 |0              |0          |null          |null        |0233P         |null               |BX              |null                             |null        |SB WEBSTER AVE @ E 1|94TH ST            |0                  |1111       |C           |T                   |null                      |null                |null              |BK           |null                 |2004        |null        |0             |null               |BUS LANE VIOLATION          |null                             |null             |null                    |
+--------------+--------+------------------+----------+-------------------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+----------------------------+---------------------------------+-----------------+------------------------+
only showing top 3 rows

In [35]:
df2 = df2.withColumn("Year_Column",year("Issue Date"))

In [36]:
df2.printSchema()

root
 |-- Summons Number: long (nullable = true)
 |-- Plate ID: string (nullable = true)
 |-- Registration State: string (nullable = true)
 |-- Plate Type: string (nullable = true)
 |-- Issue Date: timestamp (nullable = true)
 |-- Violation Code: integer (nullable = true)
 |-- Vehicle Body Type: string (nullable = true)
 |-- Vehicle Make: string (nullable = true)
 |-- Issuing Agency: string (nullable = true)
 |-- Street Code1: integer (nullable = true)
 |-- Street Code2: integer (nullable = true)
 |-- Street Code3: integer (nullable = true)
 |-- Vehicle Expiration Date: integer (nullable = true)
 |-- Violation Location: integer (nullable = true)
 |-- Violation Precinct: integer (nullable = true)
 |-- Issuer Precinct: integer (nullable = true)
 |-- Issuer Code: integer (nullable = true)
 |-- Issuer Command: string (nullable = true)
 |-- Issuer Squad: string (nullable = true)
 |-- Violation Time: string (nullable = true)
 |-- Time First Observed: string (nullable = true)
 |-- Violation County: string (nullable = true)
 |-- Violation In Front Of Or Opposite: string (nullable = true)
 |-- House Number: string (nullable = true)
 |-- Street Name: string (nullable = true)
 |-- Intersecting Street: string (nullable = true)
 |-- Date First Observed: integer (nullable = true)
 |-- Law Section: integer (nullable = true)
 |-- Sub Division: string (nullable = true)
 |-- Violation Legal Code: string (nullable = true)
 |-- Days Parking In Effect    : string (nullable = true)
 |-- From Hours In Effect: string (nullable = true)
 |-- To Hours In Effect: string (nullable = true)
 |-- Vehicle Color: string (nullable = true)
 |-- Unregistered Vehicle?: integer (nullable = true)
 |-- Vehicle Year: integer (nullable = true)
 |-- Meter Number: string (nullable = true)
 |-- Feet From Curb: integer (nullable = true)
 |-- Violation Post Code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- No Standing or Stopping Violation: string (nullable = true)
 |-- Hydrant Violation: string (nullable = true)
 |-- Double Parking Violation: string (nullable = true)
 |-- Year_Column: integer (nullable = true)

In [37]:
df2.select("Year_Column").groupBy('Year_Column').count().orderBy('count',ascending=False).show(truncate=False)

+-----------+-------+
|Year_Column|count  |
+-----------+-------+
|2017       |5432975|
|2015       |5368391|
|2018       |472    |
|2014       |419    |
|1999       |185    |
|2012       |157    |
|2013       |120    |
|2026       |50     |
|2009       |48     |
|2006       |26     |
|2025       |24     |
|2019       |22     |
|2020       |22     |
|2010       |22     |
|2029       |12     |
|2027       |8      |
|2023       |8      |
|2024       |6      |
|2030       |5      |
|2068       |5      |
+-----------+-------+
only showing top 20 rows

In [38]:
# Find the total number of tickets for the year.
df2.select('Issue Date').filter(df2['Year_Column']==2068).show(truncate=False)

+-------------------+
|Issue Date         |
+-------------------+
|2068-01-01 00:00:00|
|2068-12-30 00:00:00|
|2068-12-30 00:00:00|
|2068-12-30 00:00:00|
|2068-12-30 00:00:00|
+-------------------+

In [39]:
#Find out the number of unique states from where the cars that got parking tickets came. 
#(Hint: Use the column 'Registration State'.) There is a numeric entry '99' in the column, which should be 
#corrected. Replace it with the state having the maximum entries. Provide the number of unique states again.

In [40]:
df2.select("Registration State").distinct().count()

67

In [41]:
df2.select("Registration State").groupBy('Registration State').count().orderBy('count',ascending=False).show(67,truncate=False)

+------------------+-------+
|Registration State|count  |
+------------------+-------+
|NY                |8481061|
|NJ                |925965 |
|PA                |285419 |
|FL                |144556 |
|CT                |141088 |
|MA                |85547  |
|IN                |80749  |
|VA                |72626  |
|MD                |61800  |
|NC                |55806  |
|IL                |37329  |
|GA                |36852  |
|99                |36625  |
|TX                |36516  |
|AZ                |26426  |
|OH                |25302  |
|CA                |24260  |
|SC                |21836  |
|ME                |21574  |
|MN                |18227  |
|OK                |18165  |
|TN                |17275  |
|DE                |16325  |
|MI                |15703  |
|RI                |12224  |
|NH                |8752   |
|VT                |7367   |
|AL                |6891   |
|WA                |6311   |
|ON                |5601   |
|OR                |5483   |
|MO                |4454   |
|QB                |4406   |
|DC                |4250   |
|WI                |4197   |
|IA                |4186   |
|CO                |4093   |
|KY                |3833   |
|MS                |3599   |
|LA                |3466   |
|DP                |3192   |
|ID                |2920   |
|AR                |2621   |
|WV                |2545   |
|NM                |2322   |
|SD                |1865   |
|NV                |1846   |
|KS                |1501   |
|NE                |1462   |
|UT                |1152   |
|MT                |1032   |
|AK                |754    |
|NS                |730    |
|GV                |704    |
|ND                |608    |
|WY                |411    |
|HI                |408    |
|AB                |218    |
|NB                |137    |
|PE                |128    |
|BC                |127    |
|PR                |110    |
|MB                |40     |
|SK                |30     |
|FO                |12     |
|NT                |4      |
|MX                |4      |
+------------------+-------+

In [42]:
#replaced 99 with NY as NY is the mostly occuring state in the dataset.

df2 = df2.withColumn('Registration State',when(col('Registration State')=='99','NY').otherwise(col('Registration State')))

In [43]:
df2.select("Registration State").groupBy('Registration State').count().orderBy('count',ascending=False).show(67,truncate=False)

+------------------+-------+
|Registration State|count  |
+------------------+-------+
|NY                |8517686|
|NJ                |925965 |
|PA                |285419 |
|FL                |144556 |
|CT                |141088 |
|MA                |85547  |
|IN                |80749  |
|VA                |72626  |
|MD                |61800  |
|NC                |55806  |
|IL                |37329  |
|GA                |36852  |
|TX                |36516  |
|AZ                |26426  |
|OH                |25302  |
|CA                |24260  |
|SC                |21836  |
|ME                |21574  |
|MN                |18227  |
|OK                |18165  |
|TN                |17275  |
|DE                |16325  |
|MI                |15703  |
|RI                |12224  |
|NH                |8752   |
|VT                |7367   |
|AL                |6891   |
|WA                |6311   |
|ON                |5601   |
|OR                |5483   |
|MO                |4454   |
|QB                |4406   |
|DC                |4250   |
|WI                |4197   |
|IA                |4186   |
|CO                |4093   |
|KY                |3833   |
|MS                |3599   |
|LA                |3466   |
|DP                |3192   |
|ID                |2920   |
|AR                |2621   |
|WV                |2545   |
|NM                |2322   |
|SD                |1865   |
|NV                |1846   |
|KS                |1501   |
|NE                |1462   |
|UT                |1152   |
|MT                |1032   |
|AK                |754    |
|NS                |730    |
|GV                |704    |
|ND                |608    |
|WY                |411    |
|HI                |408    |
|AB                |218    |
|NB                |137    |
|PE                |128    |
|BC                |127    |
|PR                |110    |
|MB                |40     |
|SK                |30     |
|FO                |12     |
|NT                |4      |
|MX                |4      |
+------------------+-------+

In [44]:
df2.select("Registration State").distinct().count()

66

In [63]:
spark.sql("SELECT `Registration State`, count(*) as count \
        FROM data group by `Registration State` order by `count` desc").show()

+------------------+-------+
|Registration State|  count|
+------------------+-------+
|                NY|8517686|
|                NJ| 925965|
|                PA| 285419|
|                FL| 144556|
|                CT| 141088|
|                MA|  85547|
|                IN|  80749|
|                VA|  72626|
|                MD|  61800|
|                NC|  55806|
|                IL|  37329|
|                GA|  36852|
|                TX|  36516|
|                AZ|  26426|
|                OH|  25302|
|                CA|  24260|
|                SC|  21836|
|                ME|  21574|
|                MN|  18227|
|                OK|  18165|
+------------------+-------+
only showing top 20 rows

In [46]:
# Aggregation tasks
# How often does each violation code occur? Display the frequency of the top five violation codes.
# How often does each 'vehicle body type' get a parking ticket? How about the 'vehicle make'?
#(Hint: Find the top 5 for both.)

In [47]:
df2.select("Violation Code").show(5)

+--------------+
|Violation Code|
+--------------+
|             7|
|             7|
|             5|
|            47|
|            69|
+--------------+
only showing top 5 rows

In [48]:
# How often does each violation code occur? Display the frequency of the top five violation codes.
df2.select("Violation Code").groupBy("Violation Code").count().orderBy('count',ascending=False).show(5,False)

+--------------+-------+
|Violation Code|count  |
+--------------+-------+
|21            |1528588|
|36            |1400614|
|38            |1062304|
|14            |893498 |
|20            |618593 |
+--------------+-------+
only showing top 5 rows

In [49]:
# How often does each 'vehicle body type' get a parking ticket?
df2.select("Vehicle Body Type").groupBy("Vehicle Body Type").count().orderBy('count',ascending=False).show(5,False)

+-----------------+-------+
|Vehicle Body Type|count  |
+-----------------+-------+
|SUBN             |3719802|
|4DSD             |3082020|
|VAN              |1411970|
|DELV             |687330 |
|SDN              |438191 |
+-----------------+-------+
only showing top 5 rows

In [50]:
# How about the 'vehicle make'?
df2.select("Vehicle Make").groupBy("Vehicle Make").count().orderBy('count',ascending=False).show(5,False)

+------------+-------+
|Vehicle Make|count  |
+------------+-------+
|FORD        |1280958|
|TOYOT       |1211451|
|HONDA       |1079238|
|NISSA       |918590 |
|CHEVR       |714655 |
+------------+-------+
only showing top 5 rows

In [51]:
# A precinct is a police station that has a certain zone of the city under its command.
# Find the (5 highest) frequencies of tickets for each of the following:
# 'Violation Precinct' (This is the precinct of the zone where the violation occurred).
# Using this, can you draw any insights for parking violations in any specific areas of the city?
# 'Issuer Precinct' (This is the precinct that issued the ticket).
# Here, you would have noticed that the dataframe has the 'Violating Precinct' or 'Issuing Precinct' as '0'.
# These are erroneous entries. Hence, you need to provide the records for five correct precincts.
# (Hint: Print the top six entries after sorting.)

In [53]:
df2.select("Violation Precinct").groupBy("Violation Precinct").count().orderBy("count",ascending=False).show(6,False)

+------------------+-------+
|Violation Precinct|count  |
+------------------+-------+
|0                 |2072400|
|19                |535671 |
|14                |352450 |
|1                 |331810 |
|18                |306920 |
|114               |296514 |
+------------------+-------+
only showing top 6 rows

In [54]:
df2.select("Issuer Precinct").groupBy("Issuer Precinct").count().orderBy("count",ascending=False).show(6,False)

+---------------+-------+
|Issuer Precinct|count  |
+---------------+-------+
|0              |2388479|
|19             |521513 |
|14             |344977 |
|1              |321170 |
|18             |296553 |
|114            |289950 |
+---------------+-------+
only showing top 6 rows

In [55]:
# Find the violation code frequencies for three precincts that have issued the most number of tickets. 
# Do these precinct zones have an exceptionally high frequency of certain violation codes? 
# Are these codes common across precincts? (Hint: In the SQL view, use the 'where' attribute to filter 
# among three precincts.)

In [56]:
df2.createOrReplaceTempView("data")

In [66]:
spark.sql("SELECT `Issuer Precinct`, `Violation Code`, count(*) as count_tickets \
                    FROM data where `Issuer Precinct` = '19'\
                    group by `Issuer Precinct`, `Violation Code` \
                    order by `count_tickets` desc limit 5").show()

+---------------+--------------+-------------+
|Issuer Precinct|Violation Code|count_tickets|
+---------------+--------------+-------------+
|             19|            46|        86390|
|             19|            37|        72437|
|             19|            38|        72344|
|             19|            14|        57563|
|             19|            21|        54700|
+---------------+--------------+-------------+

In [67]:
spark.sql("SELECT `Issuer Precinct`, `Violation Code`, count(*) as count_tickets \
                    FROM data where `Issuer Precinct` = '14'\
                    group by `Issuer Precinct`, `Violation Code` \
                    order by `count_tickets` desc limit 5").show()

+---------------+--------------+-------------+
|Issuer Precinct|Violation Code|count_tickets|
+---------------+--------------+-------------+
|             14|            14|        73837|
|             14|            69|        58026|
|             14|            31|        39857|
|             14|            47|        30540|
|             14|            42|        20663|
+---------------+--------------+-------------+

In [68]:
spark.sql("SELECT `Issuer Precinct`, `Violation Code`, count(*) as count_tickets \
                    FROM data where `Issuer Precinct` = '1'\
                    group by `Issuer Precinct`, `Violation Code` \
                    order by `count_tickets` desc limit 5").show()

+---------------+--------------+-------------+
|Issuer Precinct|Violation Code|count_tickets|
+---------------+--------------+-------------+
|              1|            14|        73522|
|              1|            16|        38937|
|              1|            20|        27841|
|              1|            46|        22534|
|              1|            38|        16989|
+---------------+--------------+-------------+

In [69]:
#Violation code 14 is common.

In [70]:
# Find out the properties of parking violations across different times of the day:
# Find a way to deal with missing values, if any. (Hint: Check for the null values using
#'isNull' under the SQL. Also, to remove the null values, check the 'dropna' command in the API documentation.)
# The Violation Time field is specified in a strange format. Find a way to make this a time attribute that you 
# can use to divide into groups.
# Divide 24 hours into six equal discrete bins of time. Choose the intervals as you see fit. For each of these 
# groups, find the three most commonly occurring violations. (Hint: Use the CASE-WHEN in SQL view to segregate 
# into bins. To find the most commonly occurring violations, you can use an approach similar to the one mentioned 
# in the hint for question 4.)
# Now, try another direction. For the three most commonly occurring violation codes, find the most common 
# time of the day (in terms of the bins from the previous part).